# k3d cluster config for xpanse-dev-cluster
apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: xpanse-dev-cluster

servers: 1
agents: 2
ports:
  - port: 8080:80 # same as `--port '8080:80@loadbalancer'
    nodeFilters:
      - loadbalancer
  - port: 3000:80
    nodeFilters:
      - loadbalancer

options:
  k3d:
    wait: true
    timeout: "260s"