---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: xpanse
spec:
  replicas: 2
  template:
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for MySQL to be ready..."
              until nc -z db 3306; do
                sleep 3
              done
              echo "MySQL is up!"
              

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tofu-maker
spec:
  replicas: 2
  template:
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - tofu-maker
              # This ensures all tofu-maker pods go to the same node
              topologyKey: kubernetes.io/hostname
      containers:
        - name: tofu-maker
          volumeMounts:
            - mountPath: /data/shared/tofu-maker/callback-response-store
              name: shared-storage
      volumes:
        - name: shared-storage
          hostPath:
            path: /data/shared/tofu-maker/callback-response-store
            type: DirectoryOrCreate

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: terra-boot
spec:
  replicas: 2
  template:
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - terra-boot
              # This ensures all tofu-maker pods go to the same node
              topologyKey: kubernetes.io/hostname
      containers:
        - name: terra-boot
          env:
            - name: SPRING_DATA_REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: REDIS_PASSWORD
            - name: SPRING_ACTIVITI_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_ACTIVITI_PASSWORD
          volumeMounts:
            - mountPath: /data/shared/terra-boot/callback-response-store
              name: shared-storage
      volumes:
        - name: shared-storage
          hostPath:
            path: /data/shared/terra-boot/callback-response-store
            type: DirectoryOrCreate