apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  labels:
    app: ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
        - name: ui
          image: ghcr.io/eclipse-xpanse/xpanse-ui:latest
          imagePullPolicy: Always
          env:
            - name: VITE_APP_ZITADEL_AUTHORITY_URL
              value: "https://xpanse-demo.eclipseprojects.io"
            - name: VITE_APP_ZITADEL_CLIENT_ID
              value: "330255867695923203"
            - name: VITE_APP_XPANSE_API_URL
              value: "http://localhost:8080"
            - name: VITE_APP_AUTH_DISABLED
              value: "false"
            - name: VITE_APP_AUTH_USE_SERVICE_WORKER_ONLY
              value: "true"
            - name: VITE_APP_BASE_URI
              value: "/app"
            - name: VITE_APP_ZITADEL_REDIRECT_URI
              value: "/app/authentication/callback"
            - name: VITE_APP_ZITADEL_SILENT_REDIRECT_URI
              value: "/app/authentication/silent-callback"
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: ui
spec:
  selector:
    app: ui
  ports:
    - protocol: TCP
      port: 80         # internal cluster port
      targetPort: 3000   # container port
  type: ClusterIP