---
apiVersion: v1
kind: ConfigMap
metadata:
  name: xpanse-env-config
data:
  PLUS_SERVER_AUTH_URL: "https://api.gx-scs.sovereignit.cloud:5000/v3"
  REGIO_CLOUD_AUTH_URL: "https://keystone.services.a.regiocloud.tech"
  OPENSTACK_TESTLAB_AUTH_URL: "http://119.8.215.244/identity/v3"
  SPRING_CONFIG_LOCATION: "classpath:/,file:/config/xpanse-runtime.yaml" # Load from jar as well as the filesystem.

# Uses a simple setup where the config map is mounted as volume.
# Application context must be restarted to load new values.
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: xpanse
  labels:
    app: xpanse
spec:
  replicas: 1
  selector:
    matchLabels:
      app: xpanse
  template:
    metadata:
      labels:
        app: xpanse
    spec:
      serviceAccountName: spring-config-sa
      containers:
        - name: xpanse
          image: ghcr.io/eclipse-xpanse/xpanse:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              port: 8080
              path: /actuator/health/readiness
            periodSeconds: 10
            initialDelaySeconds: 20
            failureThreshold: 10
          livenessProbe:
            httpGet:
              port: 8080
              path: /actuator/health/liveness
            periodSeconds: 10
            initialDelaySeconds: 20
            failureThreshold: 10
          volumeMounts:
            - name: config-file-volume
              mountPath: /config
              readOnly: true
          envFrom:
            - configMapRef:
                name: xpanse-env-config
      volumes:
        - name: config-file-volume
          configMap:
            name: xpanse-config
            items:
              - key: xpanse-runtime.yaml
                path: xpanse-runtime.yaml

---
apiVersion: v1
kind: Service
metadata:
  name: xpanse-service
spec:
  type: ClusterIP
  selector:
    app: xpanse
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
