---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-script
data:
  init-activiti-database.sh: |
    #!/bin/bash
    set -e

    echo "Running activiti DB and user creation."

    # Use here-doc to pass SQL to mysql
    mysql -u root -p"$MYSQL_ROOT_PASSWORD" <<-EOSQL
    CREATE DATABASE IF NOT EXISTS activiti;
    CREATE USER IF NOT EXISTS 'activiti'@'%' IDENTIFIED BY '${MYSQL_ACTIVITI_PASSWORD}';
    GRANT ALL PRIVILEGES ON activiti.* TO 'activiti'@'%';
    FLUSH PRIVILEGES;
    EOSQL

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-env
data:
  MYSQL_DATABASE: "xpanse"
  MYSQL_USER: "xpanse"

---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL_PASSWORD: "WHBhbnNlQDIwMjM="
  MYSQL_ACTIVITI_PASSWORD: "WHBhbnNlQDIwMjM="
  MYSQL_ROOT_PASSWORD: "WHBhbnNlQDIwMjM="

---
# No specific PV provided. Will use the dynamic PV provisioned for this PVC.
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-data-pvc
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  replicas: 1
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:latest
          envFrom:
            - configMapRef:
                name: mysql-env
            - secretRef:
                name: mysql-secret
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
            - name: mysql-init
              mountPath: /docker-entrypoint-initdb.d/init-activiti-database.sh
              subPath: init-activiti-database.sh
          ports:
            - containerPort: 3306
      volumes:
        - name: mysql-data
          persistentVolumeClaim: # Type of volume.
            claimName: mysql-data-pvc
        - name: mysql-init
          configMap:
            name: mysql-init-script
---
apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
  clusterIP: None  # optional, set None for a headless service if other pods will directly connect
