---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
 - ../../base/core/
 - loadbalancer.yaml

namespace: xpanse

configMapGenerator:
 - name: xpanse-config
   behavior: merge
   literals:
    - SPRING_PROFILES_ACTIVE=oauth,dev,zitadel,zitadel-testbed,terra-boot,tofu-maker
