---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx
  namespace: default
  annotations:
    traefik.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
      - http:
          paths:
            # Backend 1: ui service
            - path: /app
              pathType: Prefix
              backend:
                service:
                  name: ui
                  port:
                    number: 80
            # Backend 2: xpanse service
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: xpanse-service
                  port:
                    number: 80